<div class="main users-edit">
  <div class="container">
    <div class="form-heading">家計内容を編集</div>
    <div class="form users-form">
     
      
      <div class="form-body">
        <table>
          <tr>
            <th>給料：</th><td><input name = "income" value = ""></td>
          </tr>
          <tr>
            <th>ボーナス：</th><td><input name = "bonus" value = ""></td>
          </tr>
          <tr>
            <th>家賃、住宅ローン：</th><td><input name = "houst_ret" value = ""></td>
          </tr>
          <tr>
            <th>生活費：</th><td><input name = "living_cost" value = ""></td>
          </tr>
          <tr>
            <th>水道代：</th><td><input name = "water_rate" value = ""></td>
          </tr>
          <tr>
            <th>電気代：</th><td><input name = "power_rate" value = ""></td>
          </tr>
          <tr>
            <th>ガス代：</th><td><input name = "gas_rate" value = ""></td>
          </tr>
          <tr>
            <th>通信費（電話）：</th><td><input name = "tel_bill" value = ""></td>
          </tr>
          <tr>
            <th>通信費（ネット）：</th><td><input name = "net_bill" value = ""></td>
          </tr>
          <tr>
            <th>交通費：</th><td><input name = "traffic_bill" value = ""></td>
          </tr>
        </table>
        <input type="submit" value="確認">
      </div>
    </div>
  </div>
</div>