<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>




    <div>メンバー一覧</div>
    <div>メンバー追加</div>
    

    
    
    
    <!-- <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          
        </div>
        <div class="user-right">
          <%= user.name %>
        </div>
      </div>
    <% end %> -->
  </div>
</div>