<div class="about-main">
  <h2>KakeiNetとは</h2>
  <p>
    家計管理サービスです。<br>
    個人や家庭の家計計算や、TODOリストの作成ができます。<br>
    伝言板機能もあり、グループメンバー会話することもできます。
  </p>
  <!-- <img class="about-img"  src="/"> -->
</div>